@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

/* Customized  Scroll  */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--c2);
}

::-webkit-scrollbar-thumb {
    background: var(--c4);
}

/* End of Customized  Scroll  */



.nodrag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
}

:root {
    --c1: #f3f4f5;
    /*     white shade       */
    --c2: #012F49;
    /*     dhatura primary      */
    --c3: #16b7c5;
    /*       dhatura secondary          */
    --c4:#fc5356 ;
    /*                 */
    --c5:#020202 ;
    /*                 */
    --c6: ;
    /*                 */
    --c7: ;
    /*                 */
    --c8: ;
    /*                 */
    --c9: ;
    /*                 */
    --c10: ;
}

.c1 {
    color: #f3f4f5;
}

.c2 {
    color: #012F49;
}

.c3 {
    color: #16b7c5;
}

.c4 {
    color:#fc5356 ;
}

.c5 {
    color:#020202 ;
}

.c6 {
    color: ;
}

.c7 {
    color: ;
}

.c8 {
    color: ;
}

.c9 {
    color: ;
}

.c10 {
    color: ;
}


.bgc1 {
    background-color: #f3f4f5;
}

.bgc2 {
    background-color: #012F49;
}

.bgc3 {
    background-color: #16b7c5;
}

.bgc4 {
    background-color:#fc5356 ;
}

.bgc5 {
    background-color:#020202 ;
}

.bgc6 {
    background-color: ;
}

.bgc7 {
    background-color: ;
}

.bgc8 {
    background-color: ;
}

.bgc9 {
    background-color: ;
}

.bgc10 {
    background-color: ;
}



a {
    text-decoration: none;
}



/*Fonts for Css*/


.fon1 {}

.fon2 {}

.fon3 {}

/*End of fonts section   */


/*  Media Queries     */




@media only screen and (max-width: 575px) {}

/*Mobile Devices*/
@media only screen and (max-width: 480px) {
    .kn {
        position: relative;
        left: 0% !important;
        width: 100% !important;
        background-color: var(--c2);
        margin-bottom: 5%;

    }

    .wdbox3 {
        font-size: 15px !important;
    }

    .box {
        padding: 20px !important;

    }

    .sidebox {
        display: none;
    }

    .imgpos {
        position: relative !important;
        width: 100% !important;
    }

.ch{
    height: 90% !important;
}
    .abh{
    font-weight:bolder;
    position: relative;
    padding: 90% !important;
}

}

/*Sm Devices*/
@media only screen and (max-width: 768px) {

    .kn {
        position: relative;
        left: 0% !important;
        width: 100% !important;
        background-color: var(--c2);
        margin-bottom: 5%;

    }

    .wdbox3 {
        font-size: 15px !important;
    }

    .box {
        padding: 20px !important;

    }
    .ch{
    height: 50% !important;
}
}


/*medium devices*/
@media only screen and (max-width: 1024px) {
    .box2 {
        height: 100vh;
    }

    .box {
        padding: 30px !important;


    }

    .kn {
        position: relative;
        left: 0% !important;
        width: 100% !important;
        background-color: var(--c2);
        margin-bottom: 5%;

    }

    .wdbox3 {
        font-size: 15px !important;
    }
    .ch{
    height: 50% !important;
}

}

/*Large devices*/
@media only screen and (min-width: 1281px) {
    
    .lef{
    margin-left: -11px;
}
    .box {
        height: 30vh !important;
        padding: 5% !important;

    }

    .wdbox3 {
        font-size: 25px !important;
    }
}







/* End of Media Queries     */

/*Nav bar start*/


.ch{
    height: 80% !important;
}




.navbar,
.navbarsm {
    background-color: transparent;
    box-shadow: 0 2px 15px -5px rgba(255, 255, 255, 0.1);
    z-index: 10;
}




.scchange{
    color: var(--c1);
    font-weight: 500;
}





.nav-item a {
    padding: 8px 8px 8px 64px;
    font-size: 17px;
    color: var(--c1);
    display: block;
    cursor: pointer !important;
}

.nav-item a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--c2);
    transition: 300ms;
}

.nav-item a:hover::after {
    width: 65%;
}



.navbarsm {
    position: fixed;
    height: 6vh;
    width: 100%;
    background-color: var(--c2);
    z-index: 15;
    box-shadow: none;
}

#mainbox {
    font-size: 1.8em;
    transition: all .6s;
    position: fixed;
    right: 20px;
    top: 1px;
    color: var(--c1);
    cursor: pointer !important;

}

.sidemenu {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    background-color: var(--c2);
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

.sidemenu a {
    padding: 8px 8px 8px 64px;
    font-size: 20px;
    color: var(--c1);
    display: block;
    cursor: pointer !important;
}

.sidemenu a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: var(--c4);
    transition: 300ms;
}

.sidemenu a:hover::after {
    width: 15%;
}

.sidemenu a:hover,
#mainbox:hover {
    color: var(--c1);
    transition: .5s;
}

.sidemenu .closebtn {
    position: absolute;
    top: 0px;
    right: 80%;
    font-size: 36px;
    margin-left: 32px;
    color: var(--c1);
    cursor: pointer;
    z-index: 10 !important;
}

/*Nav bar end

.upbtn {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    color: var(--c1);
    background-color: var(--c3);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
    opacity: 0;
}


/*  --------------------------- Codes Start's From Here ---------------------------------*/



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
 height:85vh;
  background: url("pictures/test.jpg") top center;
  background-size: cover;
  position: relative;
}
#hero:before {
    content: '';
    position: absolute;
    top: 0;
    resize: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

}


.hero .h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffff;
    position: relative;
    left:20%;
    font-family: 'Lexend', sans-serif;

}

.hero .h5 {
  color: #eee;
  margin-bottom: 30px;
  font-size: 24px;
}

.zi{
    z-index: 5;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 28px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
    position:relative;
    left:45%;
   
}

#hero .btn-get-started:hover {
  background:var(--c2);
  border-color: var(--c2);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
  }

  #hero .container {
    padding-top: 40px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h5 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
    #hero .btn-get-started {
     position:relative;
    left:5%;
    }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
 
  padding: 15px 0;
  text-align: center;


}

.clients img {
  width: 50%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  filter: none;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}


#sec2 {
    width: 100%;
    

}

a,
a:active,
a:focus {
    color: black;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.fancy-title-view1 {
    float: left;
    width: 100%;
    margin-bottom: 70px;
    text-align: center;
}

.fancy-title-view1 h2 {
    margin-bottom: 8px;
    font-size: 40px;
    font-weight: 700;
    display: block;
}

.fancy-title-view1 p {
    margin-bottom: 0px;
    display: inline-block;
    width: 65%;
}

.fancy-title-view1 i {
    font-size: 22px;
}

.fancy-title-view1-color h2,
.fancy-title-view1-color p {
    color: #ffffff;
}

.light-transparent {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 85%;
    opacity: 0.45;
    background-color: #000;
}

.categories-view1-full {
    padding: 40px 0px 10px 0px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
}

.categories,
.categories-view1-wrap {
    float: left;
    width: 100%;
}

.categories ul li {
    list-style: none;
}

.categories > ul > li {
    float: none;
    display: inline-block;
    margin: 0px 0px 30px 0px;
    vertical-align: top;
}

.categories-view1-wrap {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
    padding: 30px 50px 30px 95px;
    border-radius: 10px;
    position: relative;
    background-color: #ffffff;
}

.categories-view1 i {
    position: absolute;
    left: 0px;
    top: 50%;
    font-size: 30px;
    color: var(--c2);
    width: 70px;
    height: 70px;
    border-radius: 0 100% 100% 0;
    text-align: center;
    padding-top: 18px;
    margin-top: -36px;
    background-color: #ffffff;
    border: 1px solid #eee;
    border-left: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.categories-view1 li:hover i {
    color: #ffffff;
    background-color: var(--c2);
}

.categories-view1 b {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
    color:#fc5356;
}

.categories-view1 small {
    font-size: 13px;

}

.main-load-btn {
    float: left;
    width: 100%;
    text-align: center;
    margin: 30px 0px;
}

.main-load-btn a{
    
display: inline-block;
line-height: 1;
padding: 18px 45px;
color: #ffffff;
border-radius: 40px;
font-size: 16px;
font-weight: 600;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
background-color: var(--c4);
}

.main-load-btn a:hover {
    background-color: var(--c2);
}

.more-spacer {
    float: left;
    width: 100%;
    margin: 10px 0px;
}



#sec3 {
    width: 100%;

    background-image: url(pictures/aboutsolid.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.h2{
   font-size: 40px;
    font-weight: 700; 
}
.mask {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 8%;
    background-color: rgba(0, 0, 0, 0.7);
}
.bgrgba{
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

/*--------------------------------------------------------------
# Why Choose Us Section
--------------------------------------------------------------*/
.why-us {
    padding-bottom: 7%;
    padding-top: 4%;
}
.wcu{
    font-size: 20px;
}

.alignwcu{
    position: relative;
    top: 20px;
}


.bs{
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.1);
}

.ul{
    width:110px;
    height: 2px;
    background-color: var(--c4);
}


.wus{
    font-size: 40px;
    font-weight: 700;
}





/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.ch{
    height: 70%;
}


#testimonials{
    width:100%;
    padding-bottom: 5%;
}
.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 30px;
    box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
    background: #fff;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
}


}

.testimonials .testimonial-item .stars {
    margin-bottom: 25px;
}

.testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
    padding-bottom: 6%;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: var(--c3);
    margin: 0;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    padding: 3%;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #4154f1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4154f1;
}

.testimonials .swiper-slide {
    opacity: 0.3;
}

@media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
        opacity: 1;
    }

    .testimonials .swiper-pagination {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
        opacity: 1;
        transform: scale(1.12);
    }
}

.section-header {
    text-align: center;
    padding-bottom: 35px;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: var(--c2);
}

/*aboutus starts*/

#background{
    width:100%;
    height:50vh;
    background-image: url(pictures/hero-bg.jpg);
    background-attachment: fixed;
    padding-bottom: 5%;
}
   
#background:before{
    content:'';
    position: absolute;
     background-color: rgba(255,255,255,0.2); 
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
}
 .abh{
    font-weight:bolder;
    position: relative;
    padding: 10% !important; 
}

.ul2{
   width:110px;
    height: 2px;
    background-color: var(--c4); 
}
/*
.wave {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 18%;
}



.background .wave svg {
  width: 100%;
}
*/

#features {
    width: 100%;
    background-color: var(--c1);
    
    
}



.features .feture-tabs h3 {
    color: var(--c2);
    font-weight: 700;
    font-size: 32px;
}

@media (max-width: 768px) {
    .features .feture-tabs h3 {
        font-size: 28px;
    }
}

.features .feture-tabs .nav-pills {
    border-bottom: 1px solid #eee;
}

.features .feture-tabs .nav-links {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: var(--c2);
    padding: 12px 0;
    margin-right: 25px;
    border-radius: 0;
}

.features .feture-tabs .nav-links.active {
    color: var(--c4);
    border-bottom: 3px solid var(--c4);
}

.features .feture-tabs .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: #012970;
}

.features .feture-tabs .tab-content i {
    font-size: 24px;
    line-height: 0;
    margin-right: 8px;
    color: #4154f1;
}
. h2 {
    margin-bottom: 8px;
    font-size: 40px;
    font-weight: 700;
    display: block;
}

/* about us ends*/

/*services section*/
/* Feature Box
---------------------*/
#service {
    padding-top: 2%;
    width: 100%;
    padding-bottom: 3%;
    background-color: white !important;
}
.srs{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size:20px;
    color:var(--c2);
}

.section_title {
    margin-bottom: 40px;
}

.section_title h2 {

    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.brand_border .fa.fa-minus {
    color: #fff;
    font-size: 8px;
    height: 2px;
    background: var(--c3) none repeat scroll 0 0;
    width: 100px;
}

.brand_border .fas.fa-handshake {
    font-size: 14px;
    color: #000000;
}


.section_title p {
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    padding: 14px 0;
}

.choose_us .section_title {
    margin-top: 45px;
}

.feature-box-1 {
    padding: 32px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    margin: 15px 0;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    top: 0;
    background-color: #fbfcfa;
}

.feature-box-1 * {
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}

.feature-box-1 .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #fc5356;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 22px;
    font-size: 27px;
}

.feature-box-1 .icon i {
    line-height: 70px;
}

.feature-box-1 h5 {
    color: var(--c2);
    font-weight: 600;
}

.feature-box-1 p {
    margin: 0;
}

.feature-box-1:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-radius: 10px;
    width: 0;
    background: var(--c2);
    z-index: -1;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}

.feature-box-1:hover {
    top: -5px;
}

.feature-box-1:hover h5 {
    color: #ffffff;
}

.feature-box-1:hover p {
    color: rgba(255, 255, 255, 0.8);
}

.feature-box-1:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    right: auto;
}

.section {
    padding: 100px 0;
    position: relative;
}

.projcard-container,
.projcard-container * {
    box-sizing: border-box;
}

.projcard-container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.projcard {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #fbfcfa;
    border: 2px solid #ddd;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .36);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .10);
    transform: translate(0px, -3px);
}

.projcard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 0.07;
}

.projcard:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.projcard-innerbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fbfcfa;
}

.projcard-img {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;
}

.projcard:nth-child(2n) .projcard-img {
    left: initial;
    right: 0;
}

.projcard:hover .projcard-img {
    transform: scale(1.05) rotate(1deg);
}

.projcard:hover .projcard-bar {
    width: 70px;
}

.projcard-textbox {
    position: absolute;
    top: 7%;
    bottom: 7%;
    left: 430px;
    width: calc(100% - 470px);
    font-size: 17px;
}

.projcard:nth-child(2n) .projcard-textbox {
    left: initial;
    right: 430px;
}

.projcard-textbox::before,
.projcard-textbox::after {
    content: "";
    position: absolute;
    display: block;
    background: #fbfcfa;
    background: #fff;
    top: -20%;
    left: -55px;
    height: 140%;
    width: 60px;
    transform: rotate(8deg);
}

.projcard:nth-child(2n) .projcard-textbox::before {
    display: none;
}

.projcard-textbox::after {
    display: none;
    left: initial;
    right: -55px;
}

.projcard:nth-child(2n) .projcard-textbox::after {
    display: block;
}

.projcard-textbox * {
    position: relative;
}

.projcard-title {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    font-size: 24px;
}

.projcard-subtitle {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    color: #888;
}

.projcard-bar {
    left: -2px;
    width: 50px;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.projcard-blue .projcard-bar {
    background-color: var(--c2);
}

.projcard-blue::before {
    background-image: linear-gradient(-70deg, #0088FF, transparent 50%);
}

.projcard-blue:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #0088FF, transparent 50%);
}

/* services end*/

/* contact us*/

.right_conatct_social_icon{
     background: var(--c3);
}
/*.contact_us{
    background-color: #f1f1f1;
    padding: 120px 0px;
    
}

.contact_inner{
    background-color: #fff;
    position: relative;
    box-shadow: 20px 22px 44px #cccc;
    border-radius: 25px;
}
.contact_field{
    padding: 60px 340px 90px 100px;
}
.right_conatct_social_icon{
    height: 100%;
}

.contact_field h3{
   color: #000;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px
}
.contact_field p{
    color: #000;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.contact_field .form-control{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.contact_field .form-control:focus{
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #1325e8;
}
.contact_field .form-control::placeholder{
    font-size: 13px;
    letter-spacing: 1px;
}

.contact_info_sec {
    position: absolute;
    background-color:var(--c2);
    right: 1px;
    top: 18%;
    height: 340px;
    width: 340px;
    padding: 40px;
    border-radius: 25px 0 0 25px;
}
.contact_info_sec h4{
    letter-spacing: 1px;
    padding-bottom: 15px;
    color: white;
}

.info_single{
    margin: 30px 0px;
}
.info_single i{
    margin-right: 15px;
    color:white;
}
.info_single span{
    font-size: 14px;
    letter-spacing: 1px;
    color:white;
}

button.contact_form_submit {
    background:var(--c3);
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    margin-top: 25px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}
button.contact_form_submit:hover {
    background: var(--c2);
}
.socil_item_inner li{
    list-style: none;
}
.socil_item_inner li a{
    color: #fff;
    margin: 0px 15px;
    font-size: 14px;
}
.socil_item_inner{
    padding-bottom: 10px;*/
}

/*contactus end*/


/*footer*/
.footer {
  background-color: var(--c2);
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 30px;
  margin-top:5px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:var(--c2);
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: var(--c2);
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.bg-footer {
    background-color: var(--c2);
    padding: 50px 0 30px;
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    color: white;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

.footer-link a:hover {
    color: var(--c3);
}

.contact-info {
    color: white;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.facebook {
    background-color: var(--c2);
    color: #ffffff;
}

.twitter {
    background-color: var(--c2);
    color: #ffffff;
}

.google {
    background-color: var(--c2);
    color: #ffffff;
}

.apple {
    background-color: var(--c2);
    color: #ffffff;
}

.footer-alt {
    color: #acacac;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid var(--c3);
}
/*footer ends*/


    .float{
    opacity: 0;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}     

.navcol {
            color: var(--c4) !important;
        }





.contact{
    background-color: var(--c2);
    color: var(--c1);
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}
































